<html>

<head>
    <title>Apartments</title>
    <style>
        html {
            background-image: linear-gradient(white, orange, lightgreen, white);
            background-repeat: no-repeat;
            font-size: 20px;
            border-color: brown;
        }
        
        td {
            text-align: center;
            padding: 5px;
            border: 2px solid blue;
        }
        
        input {
            border-radius: 5%;
            padding: 3px;
            margin-bottom: 5px;
            width: auto;
            font-size: 20px;
        }
    </style>
</head>

<body>

    <h1>Apartments</h1>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Your type..">

    <table id="myTable" border="1px" width="100%" height="auto">
        <tr>
            <th>AGENTID</th>
            <th>REG_NUM</th>
            <th>OWNER NAME</th>
            <th>PRICE</th>

            <th>SIZE</th>
            <th>BATHROOMS</th>
            <th>BEDROOMS</th>


        </tr>


        <%data.forEach((apartment) => {%>

            <tr>
                <td>
                    <%=apartment.agentid%>
                </td>
                <td>
                    <%=apartment.reg_num%>
                </td>
                <td>
                    <%=apartment.ownername%>
                </td>

                <td>
                    <%=apartment.price%>
                </td>
                <td>
                    <%=apartment.size%>
                </td>
                <td>
                    <%=apartment.bathrooms%>
                </td>
                <td>
                    <%=apartment.bedrooms%>
                </td>
                <td>
                    <div style="text-align: center; padding: 8px;  background-color: teal;
					width:auto; height: auto">
                        <a href="/apartment/<%=apartment.reg_num%>"><button </button></button>><i>click if interested !</i> </button>
                        </a>
                    </div>

                </td>
            </tr>
            <%})%>

    </table>


</body>

</html>

<script>
    function myFunction() {
        var filter = event.target.value.toUpperCase();
        var rows = document.querySelector("#myTable tbody").rows;

        for (var i = 0; i < rows.length; i++) {
            var firstCol = rows[i].cells[0].textContent.toUpperCase();
            var secondCol = rows[i].cells[1].textContent.toUpperCase();
            var thirdCol = rows[i].cells[2].textContent.toUpperCase();
            var fourthCol = rows[i].cells[3].textContent.toUpperCase();
            var fifthCol = rows[i].cells[5].textContent.toUpperCase();
            var sixthCol = rows[i].cells[6].textContent.toUpperCase();
            var seventhCol = rows[i].cells[7].textContent.toUpperCase();
            if (firstCol.indexOf(filter) > -1 || secondCol.indexOf(filter) > -1 || thirdCol.indexOf(filter) > -1 || fourthCol.indexOf(filter) > -1 || fifthCol.indexOf(filter) > -1 || sixthCol.indexOf(filter) > -1 || seventhCol.indexOf(filter) > -1) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }
</script>